# Based on JUCE coding standards: https://juce.com/discover/stories/coding-standards
---
Language: Cpp
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: true
ContinuationIndentWidth: 4
NamespaceIndentation: None

# Braces and Wrapping
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterFunction: true
  AfterNamespace: false  # Keep brace on same line
  AfterEnum: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: false
  AfterControlStatement: Always
  BeforeLambdaBody: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: false

# Namespace and Block Formatting
CompactNamespaces: false
FixNamespaceComments: true
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock

# Whitespace
KeepEmptyLines:
  AtStartOfBlock: true
  
# Force 2 empty lines before and after namespace blocks
WhitespaceSensitiveMacros: ['namespace']
MacroBlockBegin: '^namespace.*{$'
MacroBlockEnd: '^} // namespace.*$'

# Alignment and Spacing
AlignTrailingComments: true
AlignAfterOpenBracket: AlwaysBreak
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: Left
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeInheritanceColon: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceAfterTemplateKeyword: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

# Constructor Initializers
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 8
PackConstructorInitializers: Never

# Line Breaks and Wrapping
ColumnLimit: 120
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BinPackArguments: false
BinPackParameters: false

# Includes and Namespaces
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"JuceHeader\.h"$'
    Priority: 1
    SortPriority: 0
  - Regex: '^<juce_.*>$'
    Priority: 2
    SortPriority: 0
  - Regex: '^".*"$'
    Priority: 3
    SortPriority: 0
  - Regex: '^<.*>$'
    Priority: 4
    SortPriority: 0

# Other
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: false
UseCRLF: false
InsertNewlineAtEOF: true

---
Language: ObjC
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true