# I am trying to keep CMake version aligned with the version CLion bundles:
#
#   ~/Applications/CLion.app/Contents/bin/cmake/mac/aarch64/bin/cmake --version
#
# Why care about CLion?
# CLion has been the most reliable way to build the project thus far and
# the IMO has better tooling for CMake than VSCode. The Nova (AKA Resharper)
# feature are also far superior to the C++ tools in VSCode (or Xcode).
#
cmake 3.30.5
